<html>
    <head>
        <link href="{{ asset('bundles/ftmain/css/index.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>

        </header>
        <div id="content">
            <aside>
                
            </aside>
            <section>
                <p>Hello !</p>
            </section>
        </div>
        <br />
        <footer>
            <span id="copyright">Projet Framework 422 / &copy;sconso 2014</span>
        </footer>
    </body>
</html>