body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

br { clear: both; }

header {
    width: 90%;
    height: 150px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 15px;
}

#content {
    width: 90%;
    min-height: 600px;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 15px;
}

aside {
    width: 20%;
    min-height: 600px;
    float: left;
    border: 1px solid black;
    border-radius: 15px;
}

section {
    width: 75%;
    min-height: 600px;
    float: right;
    border: 1px solid black;
    border-radius: 15px;
}

footer {
    width: 90%;
    height: 80px;
    line-height: 80px;
    font-size: .75em;
    margin: 20px auto;
}

footer span {
    float: right;
    margin-right: 20px;
}